/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}li{
	list-style-type:none;
}html{
	height:100vh;
	width:100vw;
}
.container{
		text-align:center;
}
.song{
		
}
body{
	background-color: rgb(204, 204, 204);
}
a{
text-decoration-line: none;
}
h1{
	text-align:center;
}
 h2{
	text-align:center;
}
.player_one{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.player_two{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
